body {
text-align: center;
    background: silver;
}

h1  {
    color: #5e74ee;
}
li {
    list-style-position: inside;
}

img {
    width: 250px;
    height: 250px;
}

.fat {
    font-weight: bold;
}
.ital{
    font-style: italic;
}

#bigger {
    font-weight:bold;
    font-size: 15px;
}
.school {
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #2958b4
}